#include <windows.h>
#include <dlgs.h>
#include "resource.h"


IDD_DEVICEVIEWER DIALOGEX 0, 0, 298, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | 
    WS_CAPTION | WS_SYSMENU
CAPTION "blueMSX - Device Viewer"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Refresh",ID_REFRESH,14,10,50,14
    LTEXT           "Theme:",IDC_APEARANCETHEMETEXT,200,14,85,11
    EDITTEXT        ID_DEVICEINFO,14,34,270,154,ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL
END